{% extends '_layout/layout.twig' %}
{% block main %}   
<h1>Welcome to Slimdic!</h1>
<p>
    Congratulations! Your new Slimdic application is running.
</p>
<section>
    <h2>Get Started</h2>
    <ul>
        <li>See the README.md in root and readme.md in <code>Sites/</code></li>
        <li>The application code is in <code>public/index.php</code> and <code>Sites/</code></li>
        <li>Now visit <a href="/logon"><code>/logon</code></a>
    </ul>
</section>
<section>
    <h2>Slimdic home</h2>
    
</section>
<section>
    <h2>Slim Framework Community</h2>

    <h3>Support Forum and Knowledge Base</h3>
    <p>
        Visit the <a href="http://help.slimframework.com" target="_blank">Slim support forum and knowledge base</a>
        to read announcements, chat with fellow Slim users, ask questions, help others, or show off your cool
        Slim Framework apps.
    </p>
</section>
<section style="padding-bottom: 20px">
    <h2>Slim Framework Views</h2>
    <p>
        Custom View classes for Smarty and Twig are available online 
        in a separate repository.
    </p>
    <p><a href="https://github.com/codeguy/Slim-Views" target="_blank">Browse the Views Repository</a></p>
</section>
<section>
    <h2>Twig support</h2>
    <p><a href="http://twig.sensiolabs.org/" target="_blank">Twig documentation</a>
</section>
{% endblock %}