{% extends '_layout/layout.twig' %}
{% block header %}
    </br></br></br>
{% endblock %}
{% block main %}  
    <h1>I think you is logged on!</h1>
    <p>
        Well not really - but this is a demo app after all!
    </p>
{% endblock %}
